# ここに学校のドメインを指定してください
ALLOWED_DOMAIN = example.com

# Djangoの基本設定
SECRET_KEY = your-django-secret-key
DEBUG = True

# Google認証情報
GOOGLE_CLIENT_ID = あなたのクライアントID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = あなたのクライアントシークレット

# データベース設定
DB_NAME = your_database_name.sqlite3